/* fonts */


/* fonts */

@import url("fonts.css");
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

.font-xs {
    font-size: 8px;
}

.font-sm {
    font-size: 11px;
}

.font-md {
    font-size: 18px;
}

.font-lg {
    font-size: 26px;
}

.font-xl {
    font-size: 36px;
}


/* body */


/* body */

body {
    background-color: #f6f6f6;
}


/* color */

.bg-pink {
    background-color: #dc529f;
    color: #fff;
}

.bg-green {
    background-color: #33c4a2;
    color: #fff;
}

.bg-dark-green {
    background-color: #1f8a97;
    color: #fff;
}

.bg-orange {
    background-color: #f05b4d;
    color: #fff;
}

.bg-dark-black {
    background-color: #000000;
    color: #fff;
}

.bg-black {
    background-color: #1f2845;
    color: #fff;
}

.bg-light-black {
    background-color: #55595c;
    color: #fff;
}

.bg-gray {
    background-color: #9f9fa1;
    color: #fff;
}

.bg-light-gray {
    background-color: #f3f3f3;
}

.bg-gray-button {
    background-color: #9f9fa1;
    color: #000000;
}

.bg-gray-button:hover {
    color: #000000;
}

.bg-purple {
    background-color: #cfc4df;
    color: #fff;
}

.bg-blue {
    background-color: #a5d0d5;
    color: #fff;
}

.bg-dark-coral {
    background-color: #F65B4D color: #fff !important;
}

.bg-coral {
    background-color: #fdd4c7;
    color: #fff;
}

.bg-dark-purple {
    background-color: #4e3a73;
    color: #fff;
}

.bg-purple {
    background-color: #7744D9;
}

.white {
    color: #fff;
}

.text-coral {
    color: #F65B4D;
}

.text-pink {
    color: #DD529D;
}


/* buttons */


/* buttons */

.btn-darken:hover,
.btn-darken:focus {
    color: #f9f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


/* form */


/* form */

.promo-form .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.promo-form label {
    font-weight: 700;
}


/* utilities */


/* utilities */

.radius-1 {
    border-radius: 1rem !important;
}

.radius-2 {
    border-radius: 2rem !important;
}

.required-text {
    color: red;
}

.alert {
    color: #fff;
}


/* Card */


/* Card */

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, .05);
}

.card-color {
    background: rgb(94, 65, 153);
    background: linear-gradient(90deg, rgba(94, 65, 153, 1) 50%, rgba(0, 126, 158, 1) 100%);
}

#home .jumbotron {
    background: rgb(94, 65, 153);
    background: linear-gradient(90deg, rgba(94, 65, 153, 1) 50%, rgba(0, 126, 158, 1) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    margin-bottom: -2px !important;
}


/* captcha */

@media only screen and (max-width: 720px) {
    #recaptcha-container {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    .g-recaptcha-bubble-arrow {
        display: none;
    }
    .g-recaptcha-bubble-arrow+div {
        position: fixed !important;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        border: 1px solid rgb(204, 204, 204);
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
    }
}


/*cookie alert*/

#cookiePopup {
    background: white;
    width: 50%;
    position: fixed;
    left: 10px;
    bottom: 20px;
    box-shadow: 0px 0px 2px #cccccc;
    padding: 5px 10px;
    z-index: 999999999999999999999999999999;
    border-radius: 10px;
    padding: 15px;
}

#cookiePopup p {
    text-align: left;
    font-size: 15px;
    color: #4e4e4e;
}

#cookiePopup h4 {
    margin-top: 0px;
}

#cookiePopup button {
    width: 100%;
    border: navajowhite;
    background: #f05b4d;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
}

@media(max-width:1000px) {
    #cookiePopup {
        width: 80%;
    }
}

.img-width {
    width: 340px;
    height: 180px;
}


/*cookie alert*/